
  .game3 {
    height: 100vh;
    background-color: #52c2ff;
    font-family: "Raleway", sans-serif;
  }

  .game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .principal__title{
        text-align: center;
        color: white;
        font-size: 40px;
        padding: 30px;
    }

    .container__game3 {
        display: flex;
        flex-wrap: wrap;
        width: 440px;
        height: 440px;
        gap: 15px;

    .button-option {
        background: #ffffff;
        height: 138px;
        width: 135px;
        border: none;
        border-radius: 8px;
        font-size: 80px;
        color: #52c2ff;;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        }
      }
  }
  
 
  .restart__button {
    display: block;
    position: relative;
    font-size: 1.3em;
    padding: 1em;
    border-radius: 8px;
    background-color: #1c5879;
    color: #ffffff;
    border: none;
    margin: 1.5em auto 0 auto;
  }
  .popup__message {
    background-color: #52c2ff;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 70px;
  }

  .message {
    color: #ffffff;
    text-align: center;
    font-size: 1em;
  }

  .popup__message.hide {
    display: none;
  }
  .new-game__button {
    font-size: 30px;
    padding: 0.5em 1em;
    background-color: #1c5879;
    color: #ffffff;
    border-radius: 0.2em;
    border: none;
  }
 
  
  
  